name: Python app test with Github Actions
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.11.2
      uses: actions/setup-python@v2
      with:
        python-version: 3.11.2
    - name: Install dependencies
      run: |
        #make install
    - name: Lint with Pylint
      run: |
        #make lint
    - name: Test with Pytest
      run: |
        #make test
    - name: Format code
      run: |
        #make format
